:root {
  --colMain1: #999999;
  --colMain2: #999999;
  --colMain3: #999999;
  --colMain4: #999999;
  --colMain5: #999999;
  
  --colEnhance1: #999999;
  --colEnhance2: #999999;
  --colEnhance3: #999999;
  --colEnhance4: #999999;
  --colEnhance5: #999999;
  
  --colDanger: #999999;
  --colSuccess: #999999;
  --colWarn: #999999;
  --colInfo: #999999;
  
  --colBase1: #999999;
  --colBase2: #999999;
  --colBase3: #999999;
  --colBase4: #999999;
  --colBase5: #999999;
  --colBase6: #999999;
  }