:root {
  color-scheme: light /* dark */;
}

:root {/* Light Mode */
  --colMain1: #ff8000;
  --colMain2: #c7660d;
  --colMain3: #924c11;
  --colMain4: #603411;
  --colMain5: #331e0d;

  --colEnhance1: #0080ff;
  --colEnhance2: #1b65c6;
  --colEnhance3: #204b91;
  --colEnhance4: #1d335f;
  --colEnhance5: #151d31;

  --colDanger: #b41c2b;
  --colSuccess: #009f42;
  --colWarn: #cc8800;
  --colInfo: #388cfa;

  --colBase1: #ffffff;
  --colBase2: #c6c6c6;
  --colBase3: #919191;
  --colBase4: #5e5e5e;
  --colBase5: #303030;
  --colBase6: #000000;
}

/* @media screen and (prefers-color-scheme: dark) {
  :root {
    --colMain1: #000000;
    --colMain2: #c7660d;
    --colMain3: #924c11;
    --colMain4: #603411;
    --colMain5: #331e0d;
  
    --colEnhance1: #0080ff;
    --colEnhance2: #1b65c6;
    --colEnhance3: #204b91;
    --colEnhance4: #1d335f;
    --colEnhance5: #151d31;
  
    --colDanger: #b41c2b;
    --colSuccess: #009f42;
    --colWarn: #cc8800;
    --colInfo: #388cfa;
  
    --colBase1: #ffffff;
    --colBase2: #c6c6c6;
    --colBase3: #919191;
    --colBase4: #5e5e5e;
    --colBase5: #303030;
    --colBase6: #000000;
  }
} */