@import "/css/coloursLight.css";
@import "/css/fonts.css";
/* colBase1-6, colMain1-5, colEnhance1-5, colDanger, colSuccess, colWarn, colInfo */

:root{
  --radiusA: 5%;
  --radiusB: 7.5%;
  --widthA: 0.75rem;
  --widthB: 0.60rem;
  --widthC: 0.45rem;
  --widthD: 0.30rem;
  --widthD-small:0.2rem;
  --widthE: 0.15rem;
  --widthF: 0.05rem;
}

/* ELEMENTS */
  html {
    height: 100%;
    font-size: 16px;
  }
  body {
    height: 100%;
    margin: 0;
    background-color: var(--colMain2);
  }
  header {
    padding: var(--widthA);
    background-color: var(--colEnhance1);
    margin: 0;
  }
  main {
    margin: var(--widthA);
    padding: var(--widthC);
  }
  footer {padding: var(--widthC);}
  section {
    margin: var(--widthA);border-radius: var(--radiusA);
    padding: var(--widthC);
    padding-bottom: var(--widthA);
    background-color: var(--colBase2);
    box-shadow: -10px 10px 25px 10px var(--colMain4);
  }
  div {padding: var(--widthD);}
  form {padding: var(--widthF);}

  button, #taskSubmit > input {
    background-color: var(--colEnhance1);
    border-color: var(--colEnhance2);
    border-radius: var(--radiusB);
    padding: 0.5rem;
    font-family: 'Fira Code';
  }
  button:hover, #taskSubmit > input:hover {
    background-color: var(--colMain1);
    border-color: var(--colMain2);
  }

  label {font-family: 'Fira Code';}
  input {font-family: 'Fira Code';}
  h1 {
    color: var(--colMain2);
    -webkit-text-fill-color: var(--colMain1);
    -webkit-text-stroke: 0.5px var(--colMain3);
    margin: auto;
    font-family: 'Gabarito', sans-serif;
    font-size: 5rem;
  }
  h2 {
    color: var(--colEnhance2);
    -webkit-text-fill-color: var(--colEnhance1);
    -webkit-text-stroke: 0.25px var(--colEnhance3);
    font-family: 'Gabarito', sans-serif;
    font-size: 2rem;
  }
  :is(h3, h4, h5, h6) {
    color: var(--colBase6);
    font-family: 'Gabarito', sans-serif;
    font-size: 1rem;
  }
  p {
    color: var(--colBase6);
    font-family: 'Fira Code';
  }
  pre {
    color: var(--colBase5);
    font-family: 'Fira Code';
    font-size: 1.4rem;
    font-weight:bolder;
  }

/* .trash-can */

.trash-can:hover {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(5deg);
    }
}

/* LAYOUT CLASSES */
  /* ALIGNMENT CLASSES */
  .center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  /* FLEX CLASSES */
  .formParent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    justify-items: center;
    /* align-items: center; */
  }
  .formParent > * {flex: 1 1 auto;}
  .menuParent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .menuFlex > * {flex: 0 1 auto;}
  .pageParent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: start;
  }
  .pageParent > * {flex: 0 1 45%;}
  .splitParent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .splitParent > * {flex: 1 1 40%;}
  .wrapParent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .wrapParent > * {flex: 1 1 auto;}

/* TASK LIST CLASSES */
  /* LIST */
  .to-do-list {padding: var(--widthB);}

  /* TASKS */
  .to-do-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-around;

    padding: var(--widthE);

    list-style-type: none;
    list-style-position:inside;
  }
  .to-do-item > * {
    display: flex;
    align-items: center;
    margin: var(--widthF);
  }
  .tick-container {
    flex: 0 0 auto;
    justify-content: center;
  }
  .tick-container > img {height: 2rem;}
  .to-do-text-container {
    flex: 2 1 50%;
    padding-left: 1rem;
  }
  .importance-container{
    flex: 1 1 auto;
    justify-content: center;
    width:3rem;
  }
  .delete-container {
    flex: 0 0 auto;
    justify-content: center;
  }
  .delete-container > img {height: 2rem;}



/* SELECT BY ID */
#taskListDebug {display: none;}

/*
INBOX
  CURSORS
    cursor: alias
    cursor: cell
    cursor: copy;
    cursor: help;
    cursor: progress;
  TASKS
    transform: rotate(3deg) scale(0.7) skew(1deg) translate(-4px,6px);
  SELECTORS
*/

/* Media queries  */

@media (max-width: 500px){
header {
    padding:0;
  }

  main{
    margin: 0px;
  }
  div {
    margin:0;
    padding:0;
  }
  #taskFormImportance{
    padding: var(--widthA);
  }
  #taskImportance{
    padding: var(--widthA);
  }
  #taskImportance div{
    margin: var(--widthC);
  }
  .task-name{
    margin:var(--widthD-small);
  }
  .to-do-text-container {
    padding-left: var(--widthD);
  }
}

@media (max-width: 800px){
  .pageParent {
flex-direction: column;
  
  }
  main{
    overflow: scroll;
  }
  .wrapParent{
    flex-direction: column;
  }
}