/* Project Meta */

:root{
  /* Colours */
  /* Widths */
    /* Boxes & Forms */
      --widthBoxMargin:0.75rem;
      --widthBoxBorder:0.25rem;
      --widthBoxPadding:0.5rem;
}

html {
  font-size: 16px;
}


/* Element Defaults */

form {
  margin: var(--widthBoxMargin);
  border: var(--widthBoxBorder) solid white;
  padding: var(--widthBoxPadding);
}

form div {
  margin: 1rem;
}

/* Utility classes */

  /* Alignment */
    .center{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

  /* Stacks */
    .stack-lg > *+* {
      margin-top: 2rem;
    }
    .stack-md > *+* {
      margin-top: 1rem;
    }
    .stack-sm > *+* {
      margin-top: 0.5rem;
    }

  /* Flex */
  /* justify-content
  align-items
  align-content */

    .formFlex {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }


/* To Do List */
.to-do-list {
  border: var(--widthBoxBorder) solid blue;
  margin: var(--widthBoxMargin);
  padding: var(--widthBoxPadding);
}

/* Tasks */
/* order
flex
flex-grow
flex-shrink
align-self */
.to-do-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: space-around;
  border: solid red 2px;
  padding: 0;
  list-style-type: none;
  list-style-position:inside;
}

.to-do-item > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--widthBoxMargin);
  padding: var(--widthBoxPadding);
}

.tick-container {
  flex: 0 0 auto;
  border: solid greenyellow 2px;
}

.to-do-item img{
  height: 2rem;
}

.delete-container {
  flex: 0 0 auto;
  border: solid greenyellow 2px;
 }

.to-do-text-container {
  flex: 2 0 50%;
  border: solid greenyellow 2px;
}

.importance-container{
  flex: 1 0 auto;
  border: solid greenyellow 2px;
}

