:root{
  /* Colours */
  --colourBorder: #000000;
  --colourDebug: #ff9999;
  /* Widths */
  --widthDebug: 0.1rem;
  --widthBoxMargin:0.75rem;
  --widthBoxBorder:0.2rem;
  --widthBoxPadding:0.5rem;
}

html {
  font-size: 16px;
}

body,
header,
main,
footer,
section,
form,
div {
  margin: var(--widthBoxMargin);
  border: var(--widthDebug) dashed var(--colourDebug);
  padding: var(--widthBoxPadding);
}

div {
  margin: var(--widthBoxMargin);
  padding: var(--widthBoxPadding);
}

form div {
  padding: 0;
}

/* Utility classes */
  /* Alignment */
    .center{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

  /* Stacks */
    .stack-lg > *+* {
      margin-top: 2rem;
    }
    .stack-md > *+* {
      margin-top: 1rem;
    }
    .stack-sm > *+* {
      margin-top: 0.5rem;
    }

  /* Form */
    .formFlex {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }


/* To Do List */
  .to-do-list {
    margin: var(--widthBoxMargin);
    padding: var(--widthBoxPadding);
  }

/* Tasks */
  .to-do-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-around;
    border: var(--widthDebug) dashed var(--colourDebug);
    padding: 0;
    list-style-type: none;
    list-style-position:inside;
  }

  .to-do-item > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tick-container {flex: 0 0 auto;}
  .delete-container {flex: 0 0 auto;}
  .to-do-text-container {flex: 2 0 50%;}
  .importance-container{flex: 1 0 auto;}

  .to-do-item img{height: 2rem;}
