html {font-size: 16px;}

body {
  /* margin: var(--widthA); */
  background-color: var(--colour06);
  /* padding: var(--widthC); */
}

header {
  /* margin: var(--widthA); */
  /* border: var(--widthD) double var(--colour01); */
  background-color: var(--colour03);
  padding: var(--widthA);
}

main {
  margin: var(--widthA);
  /* border: var(--widthD) double var(--colour01); */
  /* background-color: var(--colour03); */
  padding: var(--widthC);
}

footer {
  /* margin: var(--widthA); */
  /* border: var(--widthD) double var(--colour01); */
  /* background-color: var(--colour03); */
  padding: var(--widthC);
}

section {
  margin: var(--widthA);
  /* border: var(--widthE) solid var(--colour01); */
  border-radius: var(--radiusA);
  background-color: var(--colour02);
  padding: var(--widthC);
  box-shadow: -10px 10px 25px 10px var(--colour01);
}

div {
  margin: var(--widthD);
  /* border: var(--widthF) dashed var(--colour01); */
  /* background-color: var(--colour03); */
  padding: var(--widthD);
}

form {
  margin: var(--widthA);
  /* border: var(--widthF) dotted var(--colour01); */
  /* background-color: var(--colour03); */
  padding: var(--widthF);
}


ul {
  border: var(--widthF) dotted var(--colour01);

}